.filters {
    /* Filters styles to be added */
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters .popover {
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters .popover h2 {
    font-size: 16px;
}

.filters button {
    /* Button style to be added */
}
